@model AuntificationMetanit.Models.Meeting
@{
    ViewData["Title"] = "Добавить встречу";
}

<h3>Добавить встречу</h3>

<form asp-action="CreateMeeting" asp-controller="Home" asp-antiforgery="true">

    <div>
        <div class="form-group">
            <label asp-for="Theme" class="form-group">Введите тему: </label>
            <input type="text" asp-for="Theme" class=" form-group" />
            <!----<span asp-validation-for="Theme"></span>--->
        </div>
        <div class="form-group">
            <label asp-for="Place" class="form-group">Введите место: </label>
            <input type="text" asp-for="Place" class="form-group" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class=" form-group">
                        <label asp-for="DateBegin">Введите дату начала: </label>
                        <input type="text" asp-for="DateBegin" class=" form-control" id="datetimepicker2" />
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="form-group">
                        <label asp-for="DateEnd">Введите дату окончания: </label>
                        <input type="text" asp-for="DateEnd" class="form-control" id="datetimepicker1" />
                    </div>

                </div>
            </div>
        </div>

        <div class=" form-group">
            <input type="submit" value="Отправить" />
        </div>

    </div>

</form>


<script src="~/amy/js/jquery-3.2.1.min.js"></script>
<script src="~/amy/js/moment-with-locales.min.js"></script>
<script src="~/amy/js/bootstrap.min.js"></script>
<script src="~/amy/js/bootstrap-datetimepicker.min.js"></script>
