@model AuntificationMetanit.Models.Record
@{ 
    ViewData["Title"] = "Удалить запись";

}

<div>
   
    <table class="table">
        <tr>
            <td>Тема</td>
            <td>Дата</td>
        </tr>
        <tr>
            <td>@Model.Theme</td>
            <td>@Model.DateBegin</td>
        </tr>
    </table>

    <div>
        

        <form asp-controller="Home" asp-action="Delete" method="post">
            <input type="hidden" asp-for="RecordId" />

            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>
