@model AuntificationMetanit.Models.Record

@{
    ViewData["Title"] = "Редактировать запись";

}


<h2>Редактируйте запись</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input asp-for="UserId" type="hidden">
    <input asp-for="Discriminator" type="hidden">
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить изменения и вернуться к списку", "Index")
}

<script src="~/amy/js/jquery-3.2.1.min.js"></script>
<script src="~/amy/js/moment-with-locales.min.js"></script>
<script src="~/amy/js/bootstrap.min.js"></script>
<script src="~/amy/js/bootstrap-datetimepicker.min.js"></script>



