@model AuntificationMetanit.Models.Record

@{
    ViewData["Title"] = "Редактировать запись";

}

@{

    <h2>Создайте запись</h2>

    <form asp-action="CreateRecord" asp-controller="Home" asp-antiforgery="true" asp-route-RecordId="@Model.RecordId">
        <div>
            <div class="form-group">
                <label asp-for="Theme" class="form-group">Редактировать тему: </label>
                <input type="text" asp-for="Theme" class=" form-group" />
                <!----<span asp-validation-for="Theme"></span>--->
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class=" form-group">
                            <label asp-for="DateBegin">Редактировать дату: </label>
                            <input type="text" asp-for="DateBegin" class=" form-control" id="datetimepicker2" />
                        </div>
                    </div>
                </div>
            </div>

            <div class=" form-group">
                <input type="submit" value="Отправить" />
            </div>

        </div>
    </form>

}



<script src="~/amy/js/jquery-3.2.1.min.js"></script>
<script src="~/amy/js/moment-with-locales.min.js"></script>
<script src="~/amy/js/bootstrap.min.js"></script>
<script src="~/amy/js/bootstrap-datetimepicker.min.js"></script>



